<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>North's Elevator</title>
    <link id="favicon" rel="icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="style-hori.css" id="horizontal">
    <link rel="stylesheet" href="style-vert.css" id="vertical">
    <script>
        function enableStylesheet(node) { node.disabled = false; }
        function disableStylesheet(node) { node.disabled = true; }
        var ratio = window.innerWidth / window.innerHeight;
        if (ratio < 1) disableStylesheet(document.getElementById("horizontal"));
        else disableStylesheet(document.getElementById("vertical"));
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://threejs.org/build/three.js"></script>
    <script src="/js/helper.js"></script>
    <script src="/js/GLTFLoader.js"></script>
    <script src="/js/constants.js"></script>
    <script src="/js/threeConst.js"></script>
</head>

<body>
    <script src="/js/webgl.js"></script>
    <audio id="player" loop>
        <source src="/assets/bg.mp3" type="audio/mp3">
    </audio>
    <canvas id="bg"></canvas>
    <div id="info" class="info hidescroll hidden visuallyhidden"></div>
    <script>
        if (getVar("no_music") === 0) document.getElementById("player").play();
        else if (!getVar("no_music")) toggleMusic();
        const passedInFloor = 0;
    </script>
    <script src="/js/generators.js"></script>
    <script src="/js/error/generators.js"></script>
    <script src="/js/error/renderer.js"></script>
    <script src="/js/error/handler.js"></script>
    <script>
        const xm = new THREE.MeshStandardMaterial({ map: displayTexture(null), transparent: true });
        xm.map.needsUpdate = true;
        display.material.splice(4, 1, xm);
    </script>
</body>

</html>