<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta property="og:title" content="Color Peeker" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.northwestw.in/color" />
	<meta property="og:description" content="A simple color viewer" />
	<meta name="theme-color" content="#<%= color %>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>North's Color Viewer</title>
	<link id="favicon" rel="icon" href="/favicon.png" type="image/x-icon" />
	<link rel="stylesheet" href="style-hori.css" id="horizontal">
	<link rel="stylesheet" href="style-vert.css" id="vertical">
	<script>
		function enableStylesheet(node) { node.disabled = false; }
		function disableStylesheet(node) { node.disabled = true; }
		var ratio = window.innerWidth / window.innerHeight;
		if (ratio < 1) disableStylesheet(document.getElementById("horizontal"));
		else disableStylesheet(document.getElementById("vertical"));
	</script>
	<style>
		body {
			background-color: #<%= color %>;
		}
	</style>
</head>

<body>
</body>

</html>