<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta property="og:title" content="TradeW1nd Download All" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://northwestwind.ml/tradew1nd/download/<%= guild %>" />
  <meta property="og:image" content="/assets/images/tradew1nd.png" />
  <meta property="og:description" content="Downloading for guild <%= guild %>" />
  <meta name="theme-color" content="#FCBA03">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>TradeW1nd Download All</title>
  <link id="favicon" rel="icon" href="/assets/images/tradew1nd.png" type="image/x-icon" />
  <link rel="stylesheet" href="/downloads/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
</head>

<body>
  <img src="/assets/images/cloud.svg" id="main_cloud" class="animated" />
  <img src="/assets/images/box.svg" id="box" class="animated" />
  <img src="/assets/images/packet.svg" id="packet" class="animated" />
  <img src="/assets/images/cylinder.svg" id="cylinder" />
  <img src="/assets/images/packet.svg" id="water" class="animated" />
  <p id="text">0%</p>
  <script>
    const guild = "<%= guild %>";
    var percentage = 0;
    const interval = setInterval(async () => {
      const res = await fetch("http://pi-api.ddns.net:3000/download/" + guild);
      const data = await res.json();
      if (data.finished) {
        clearInterval(interval);
        for (const element of document.getElementsByClassName("animated")) element.classList.add("paused");
        percentage = 1;
        const file = await fetch("http://pi-api.ddns.net:3000/download/file/" + guild).then(res => res.blob());
        download(file);
      } else if (data.downloading) {
        for (const element of document.getElementsByClassName("paused")) element.classList.remove("paused");
        percentage = data.percentage;
        document.getElementById("text").textContent = `${Math.round((percentage * 100 + Number.EPSILON) * 100) / 100}%`;
        document.getElementById("water").style.height = `calc(70vh * ${percentage})`;
      } else {
        for (const element of document.getElementsByClassName("animated")) element.classList.add("paused");
        percentage = 0;
      }
    }, 2000);
  </script>
</body>

</html>