<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta property="og:title" content="Happy New Year!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://northwestwind.ml/newyear" />
    <meta property="og:image" content="/favicon.png" />
    <meta property="og:description" content="Happy New Year!
    Made with THREE.JS!"/>
    <meta name="theme-color" content="#FCBA03">
    <title>North's Elevator</title>
    <link id="favicon" rel="icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://threejs.org/build/three.js"></script>
    <script src="/js/GLTFLoader.js"></script>
    <script src="/js/constants.js"></script>
</head>

<body>
    <canvas id="bg"></canvas>
    <script>alert("Wait for 10 seconds...\n\n(Also, \"Birthday Cake\" (https://skfb.ly/opxsU) by Sakthivel G is licensed under Creative Commons Attribution (http://creativecommons.org/licenses/by/4.0/).)")</script>
    <script src="/js/newyear/generators.js"></script>
    <script src="/js/newyear/renderer.js"></script>
    <script src="/js/newyear/handler.js"></script>
</body>

</html>