<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta property="og:title" content="North's Portal" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.northwestw.in" />
	<meta property="og:image" content="/favicon.png" />
	<meta property="og:description" content="Portal to all NorthWestWind links" />
	<meta name="theme-color" content="#FCBA03">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>North's Elevator</title>
	<link id="favicon" rel="icon" href="/favicon.png" type="image/x-icon" />
	<link rel="stylesheet" href="style-hori.css" id="horizontal">
	<link rel="stylesheet" href="style-vert.css" id="vertical">
	<script>
		function enableStylesheet(node) { node.disabled = false; }
		function disableStylesheet(node) { node.disabled = true; }
		var ratio = window.innerWidth / window.innerHeight;
		if (ratio < 1) disableStylesheet(document.getElementById("horizontal"));
		else disableStylesheet(document.getElementById("vertical"));
	</script>
	<style>
		body {
			text-align: center;
			padding: 1vh;
		}

		h1 {
			font-size: 5vh;
		}

		li {
			font-size: 4vh;
		}
	</style>
</head>

<body>
	<h1>NorthWestWind's Portal</h1>

	<ul style="text-align: left; margin: auto; width: fit-content;">
		<li><a href="https://blog.northwestw.in" target="blog">Blog</a></li>
		<li><a href="https://discord.gg/srV8JfV" target="discord">Discord</a></li>
		<li><a href="https://www.northwestw.in" target="blog">Homepage (Elevator)</a></li>
		<li><a href="https://wetdry.world/@NorthWestWind" target="mastodon">Mastodon</a></li>
		<li><a href="https://matrix.to/#/#northwestwind:matrix.org" target="matrix">Matrix</a></li>
		<li><a href="https://twitch.tv/northwestwindnww" target="twitch">Twitch</a></li>
		<li><a href="https://www.youtube.com/c/NorthWestWind" target="youtube">YouTube</a></li>
	</ul>
</body>

</html>