@font-face {
    font-family: 'OdinRounded';
    src: url('/assets/odin-rounded.regular.otf') format("opentype");
}

body {
    font-family: 'OdinRounded', Helvetica, sans-serif;
    color: white;
    background-color: #23272a;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    width: 80%;
    height: 1px;
}

#top-placeholder, #side-placeholder {
    position: initial;
    width: 100%;
}

.topbar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    left: 0;
    top: 0;
    color: white;
    background-color: cornflowerblue;
    z-index: 999;
    padding: 0;
}

.topbar a {
    transition: all ease 0.5s;
    text-align: center;
}

.forty-percent {
    width: 40%;
    height: 100%;
    float: left;
}

.sixty-percent {
    width: 60%;
    height: 100%;
    float: left;
}

.top-card {
    background-color: #3c3f43;
}

.card {
    display: table;
    width: 100vw;
}

.card h1, .card h2, .card ul, .card p {
    animation: slide-up 1s ease;
}

.slide-up-class {
    animation: slide-up 1s ease;
}

.fade-in-class {
    animation: fade-in 1s ease .5s backwards;
}

.left-image {
    animation: slide-right 1s ease;
}

.mid-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#drake-meme {
    animation: fade-in 1s ease .5s backwards;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.inline-code {
    background-color: white;
    color: #fcba03;
    white-space: nowrap;
    transition: all .5s ease;
}

.inline-code:hover {
    text-decoration: underline;
}

a.button {
    background-color: cornflowerblue;
    color: white;
    transition: all .5s ease;
}

a.button:hover {
    background-color: white;
    color: cornflowerblue;
    transition: all .5s ease;
}

.align-center {
    text-align: center;
}

@keyframes slide-up {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}