@font-face {
    font-family: 'OdinRounded';
    src: url('/assets/odin-rounded.regular.otf') format("opentype");
}

body {
    font-family: 'OdinRounded', Helvetica, sans-serif;
    color: white;
    background-color: black;
    touch-action: manipulation;
    overscroll-behavior-y: contain;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
    background-color: rgba(51, 51, 51, 0.5);
    transition: all .25s linear;
    display: block;
    overflow: auto;
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}

.info h1 {
    font-size: 5vh;
}

.info h2 {
    font-size: 3vh;
    margin-bottom: 0;
}

.info p {
    font-size: 2vh;
    margin-top: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.hint {
    font-size: 1.25vh;
    opacity: 0.5;
}

.credits {
    font-size: 0.75vh;
}

.floors {
    margin: auto;
    font-size: 2vh;
}

.floors th {
    text-align: right;
    padding-right: 2vw;
}

.info iframe {
    width: 48vw;
    height: 27vw;
}

.info iframe.manual {
    width: 80vw;
    height: 70vh;
}

.list {
    margin-left: 10vh;
    margin-right: 10vh;
    text-align: left;
}

.list li {
    font-size: 2vh;
    color: #ffdbdb;
}

.list p {
    padding-left: 0;
    padding-right: 0;
}

.hidescroll::-webkit-scrollbar {
    display: none;
}

.hidescroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

a {
	text-decoration: none;
	color: #fcba03;
}

a:hover {
	text-decoration: underline;
}

.avatar {
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15vw;
	border: 0.75vh solid #fcba03;
	margin-top: 1vh;
}

.button {
	background-color: #7289DA;
	border: none;
	color: white;
	padding: 1vh 2vh;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 2.5vh;
	margin-top: 1vh;
	border-radius: 1vh;
}

.cookie-info {
    background-color: black;
    padding: 1vh;
    color: white;
    font-size: 2vh;
    opacity: 50%;
    border-radius: 2vh;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

.cookie-button {
	border: none;
	color: white;
	padding: 0.5vh;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1vh;
	margin-top: 1vh;
	border-radius: 2vh;
    opacity: 1;
    width: 8vw;
    margin-top: 0;
}

.accept {
	background-color: #48e65d;
}

.deny {
    background: #fd4f4f;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.gallery-item {
    width: 80vw;
}