<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta property="og:title" content="Invite the TradeW1nd Army Today!" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://northwestwind.ml/tradew1nd/invite" />
	<meta property="og:image" content="/assets/images/tradew1nd.png" />
	<meta property="og:description" content="TradeW1nd is the ultimate open source Discord music bot.
    It supports YouTube, SoundCloud, Musescore, attachments and more!
    Click the title to invite it today!" />
	<meta name="theme-color" content="#FCBA03">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>TradeW1nd (Army)</title>
	<link id="favicon" rel="icon" href="/assets/images/tradew1nd.png" type="image/x-icon" />
	<link rel="stylesheet" href="/tradew1nd/style-common.css">
	<link rel="stylesheet" href="/tradew1nd/style-hori.css" id="horizontal">
	<link rel="stylesheet" href="/tradew1nd/style-vert.css" id="vertical">
	<script>
		function enableStylesheet(node) { node.disabled = false; }
		function disableStylesheet(node) { node.disabled = true; }
	</script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/js/helper.js"></script>
</head>

<body>
	<div class="topbar" id="topbar">
		<a id="home-link"><img src="/assets/images/tradew1nd.png" id="home-image" /></a>
	</div>
	<div id="side-menu">
		<div id="side-placeholder"></div>
		<a href="/tradew1nd/invite" target="invite">Invite</a>
	</div>
	<h1>Before Inviting...</h1>
	<h2>
		By inviting TradeW1nd, you automatically accept the <a href="/tradew1nd/privacy">terms of service</a> of
		TradeW1nd (Army).
		Please review the <a href="/tradew1nd/privacy">privacy policy</a>. If you accept, press the "Continue" button below to proceed.
	</h2><br>
	<a href="#" class="button" onclick="redirectInvite();">Continue</a>
	<script src="/js/tradew1nd/listener.js"></script>
	<script src="/js/tradew1nd/vertical.js"></script>
	<script>
		async function redirectInvite() {
			try {
				const response = await fetch(`http://pi-api.ddns.net:3000/`);
				if (!response.ok) return alert("Received not OK status: " + response.status);
				else {
					const data = await response.json();
					for (const bot of data) {
						if (bot.size < 100) return window.location.assign(`https://discord.com/api/oauth2/authorize?client_id=${bot.id}&permissions=2150755392&scope=bot%20applications.commands`);
					}
					alert("All TradeW1nd derivatives are full!");
				}
			} catch (err) {
				alert("Internal Server Error");
			}
		}
	</script>
</body>

</html>